<div class="border-bottom row" style="margin-bottom: 16px;padding-bottom: 4px;">
  <div class="col-9">

    <h4 style="color : rgb(120,120,120); margin-bottom:4px;">
      {{work['title']}}
    </h4>
    <div>
       <b>size :</b> {{work['size']}}
    </div>
    <div>
      <b>price</b> : {{work['price']}}
    </div>

  </div>


  <div class="col-3">

    <a href="mailto:artisttejasvaverma@gmail.com?subject=order%20for%20{{works['title']}}&body=Your%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AYour%20address%3A%20%3Cstreet%20name%20%2Clandmark%20%2C%20house%20number%20%3E%0D%0A%3C%20city%2C%20state%2C%20ZIP%20code%20%3E%0D%0A%3C%20contact%20number%20(at%20least%20two)%3E%0D%0A%0D%0AYour%20picture%20%3A%20attach%20a%20high-quality%20photo%20to%20this%20mail%20.%20please%20ensure%20the%20photos%20are%20well-lit%20and%20clear%20for%20the%20best%20results.%0D%0A%0D%0Aonce%20we%20receive%20your%20order%20details%2C%20we%20will%20send%20a%20confirmation%20email%20along%20with%20the%20payment%20options.%0D%0A%0D%0Afeel%20free%20to%20reply%20or%20contact%20us%20at%20(8853488881)if%20you%20have%20any%20more%20questions.%0D%0A%0D%0AWe%20can't%20wait%20to%20TURN%20YOUR%20MEMORIES%20INTO%20MASTERPIECES...!!!%0D%0A%0D%0AThank%20you%2C%0D%0ATejasva%20verma%0D%0A" type="button" class="btn btn-outline-primary">Place Order</a>
  </div>


</div>